.base-colours {
  background-color: #292826;
  color: #f9d342;
}

.bottom-button {
  padding: 1vh 1vh;
}

.header {
  padding: 1vh 3vh 1vh 0;
  font-size: 3vh;
}

.inverted-colours {
  background-color: #f9d342;
  color: #292826;
}

.inverted-colours:hover {
  background-color: #292826;
  color: #f9d342;
}

.inverted-colours:focus {
  background-color: #292826;
  color: #f9d342;
}

.list-colours {
  background-color: white;
  color: #292826;
}

.padded {
  margin-bottom: 10px;
}

.remove-button {
  font-size: 1.4vh;
}

.title {
  position: relative;
  top: 2vh;
  left: 0.5vh;
  font-size: 2vh;
}

.top-header {
  position: fixed;
  top: 12vh;
  left: 15vmax;
  display: inline-flex;
  padding: 1vh;
  z-index: 2;
}

.turn-yellow {
  color: #292826;
}

.turn-yellow:hover {
  color: #f9d342;
}

.viewport {
  position: fixed;
  top: 20vh;
  left: 17vmax;
  height: 75vh;
  width: 80vw;
  align-content: center;
  overflow-y: scroll;
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .viewport {
    width: 70vw;
  }
}

@media only screen and (max-width: 450px) {
  .item {
    width: 55vw;
  }

  .top-header {
    top: 11vh;
  }
}
