<div *ngIf="link === 'cart'">
  <div *ngIf="!items.length" class="top-header">
    <div class="header">
      Your basket is empty
    </div>
  </div>

  <div *ngIf="items.length" class="top-header">
    <div class="header">
      Shopping Basket
    </div>

    <button
      class="ui left floated button remove-button inverted-colours"
      (click)="clearCart()"
    >
      Empty Basket
    </button>
  </div>

  <div
    *ngIf="items.length && deviceWidth > 450"
    class="ui segment under-header"
  >
    <div class="ui two column very relaxed center aligned grid">
      <div class="column wide-column">
        <div class="ui middle aligned divided list viewport">
          <div class="item" *ngFor="let item of items">
            <div class="right floated content">
              <div class="ui button turn-yellow" (click)="removeBeer(item)">
                <i class="x icon"></i>
              </div>
            </div>
            <div class="left floated content image-container">
              <img src="{{ item.image_url }}" />
            </div>
            <div class="left floated content content-container">
              <a
                class="turn-yellow"
                [title]="item.name + ' details'"
                [routerLink]="['/beers', item.id]"
              >
                {{ item.name }}
              </a>

              <div>
                <input
                  class="item-quantity"
                  type="number"
                  min="1"
                  max="20"
                  name="quantity"
                  [(ngModel)]="item.quantity"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column narrow-column">
        <div class="ui button checkout-button" [routerLink]="['/checkout']">
          <div class="title">Checkout</div>
        </div>
      </div>
    </div>
    <div class="ui vertical divider">
      ready?
    </div>
  </div>

  <div
    *ngIf="items.length && deviceWidth <= 450"
    class="ui segment under-header"
  >
    <div class="ui action">
      <div class="ui button checkout-button" [routerLink]="['/checkout']">
        <div class="title">Checkout</div>
      </div>
    </div>

    <div class="ui horizontal divider">
      ready?
    </div>

    <div class="ui middle aligned divided list viewport">
      <div class="item" *ngFor="let item of items">
        <div class="right floated content">
          <div class="ui button turn-yellow" (click)="removeBeer(item)">
            <i class="x icon"></i>
          </div>
        </div>
        <div class="left floated content image-container">
          <img src="{{ item.image_url }}" />
        </div>
        <div class="left floated content content-container">
          <a
            class="turn-yellow"
            [title]="item.name + ' details'"
            [routerLink]="['/beers', item.id]"
          >
            {{ item.name }}
          </a>

          <div>
              <input
                class="item-quantity"
                type="number"
                min="1"
                max="20"
                name="quantity"
                [(ngModel)]="item.quantity"
              />
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="link === 'checkout'">
  <div class="top-header">
    <div class="header">
      Order Information
    </div>

    <div *ngIf="items.length > 0" class="ui segment under-header">
      <app-order-form></app-order-form>
    </div>
  </div>
</div>
