.button {
  color: #292826;
  background-color: transparent !important;
}

.button:hover {
  color: #f9d342;
}

.checkout-button {
  height: 100%;
  width: 100%;
}

.divider {
  left: 70% !important;
}

.grid {
  margin: 0 !important;
  justify-content: center;
  height: 68vh;
}

.header {
  padding: 1vh 3vh 1vh 0;
  font-size: 3vh;
}

.image-container {
  width: 8vw;
}

img {
  height: 15vh;
}

.inverted-colours {
  background-color: #f9d342;
  color: #292826;
}

.inverted-colours:hover {
  background-color: #292826;
  color: #f9d342;
}

.item {
  padding: 1vh !important;
}

.narrow-column {
  width: 28% !important;
  height: 67vh;
  margin-left: 2%;
  padding: 0 !important;
}

.remove-button {
  font-size: 1.4vh;
}

.title {
  position: relative;
  top: 49%;
  font-size: 4.5vh;
}

.top-header {
  position: fixed;
  top: 12vh;
  left: 15vmax;
  display: inline-flex;
  padding: 1vh;
  z-index: 2;
}

.turn-yellow {
  color: #292826;
  font-size: 2.5vh;
}

.turn-yellow:hover {
  color: #f9d342;
}

.under-header {
  background: white;
  position: fixed;
  top: 20vh;
  left: 16vw;
  height: 70vh;
  width: 80vw;
  justify-content: center;
}

.viewport {
  height: 66vh;
  width: 110%;
  overflow-y: scroll;
}

.wide-column {
  width: 70% !important;
  overflow-x: hidden;
}
