.button {
  color: #292826;
  background-color: transparent !important;
}

.button:hover {
  color: #f9d342;
}

.checkout-button {
  height: 100%;
  width: 100%;
}

.content-container {
  width: 30vw;
  text-align: left;
}

.divider {
  left: 70% !important;
}

.grid {
  margin: 0 !important;
  justify-content: center;
  height: 68vh;
}

.header {
  padding: 1vh 3vh 1vh 0;
  font-size: 3vh;
}

.image-container {
  width: 8vw;
}

img {
  height: 15vh;
}

.inverted-colours {
  background-color: #f9d342 !important;
  color: #292826;
}

.inverted-colours:hover {
  background-color: #292826 !important;
  color: #f9d342;
}

.item {
  padding: 1vh !important;
}

label {
  font-size: 1.5vh !important;
  padding: 1vh 0 0 0 !important;
}

.narrow-column {
  width: 28% !important;
  height: 67vh;
  margin-left: 2%;
  padding: 0 !important;
}

.remove-button {
  font-size: 1.4vh;
}

.title {
  position: relative;
  top: 49%;
  font-size: 4.5vh;
}

.top-header {
  position: fixed;
  top: 12vh;
  left: 15vmax;
  display: inline-flex;
  padding: 1vh;
  z-index: 2;
}

.turn-yellow {
  color: #292826;
  font-size: 2.5vh;
}

.turn-yellow:hover {
  color: #f9d342;
}

.under-header {
  position: fixed;
  top: 20vh;
  left: 16vw;
  height: 70vh;
  width: 80vw;
  justify-content: center;
}

.viewport {
  height: 66vh;
  width: 107%;
  overflow-y: scroll;
}

.wide-column {
  width: 70% !important;
  overflow-x: hidden;
  padding-left: 0 !important;
}

.yellow-text {
  color: #f9d342;
  font-size: 2vh !important;
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .button {
    padding: 0 !important;
  }

  .content-container {
    width: 25vw;
  }

  .divider {
    font-size: 1.2vh;
  }

  img {
    height: 13vh;
  }

  .submit-button {
    padding: 0.78571429em 1.5em 0.78571429em !important;
  }

  .title {
    font-size: 2.3vh;
  }

  .viewport {
    width: 115%;
  }

  .under-header {
    left: 20vw;
    width: 78vw;
  }
}

@media only screen and (max-width: 450px) {
  .content-container {
    width: 23vw;
    margin: 0 !important;
  }

  .form-container {
    width: 60vw;
  }

  .image-container {
    width: 16vw;
  }

  .title {
    font-size: 2.5vh;
  }

  .viewport {
    height: 55vh;
    width: 122%;
  }

  .under-header {
    left: 15.5vh;
    width: 65vw;
    height: 73vh;
    overflow-x: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
