.base-colours {
  background-color: #292826;
  color: #f9d342;
}

.fixed-header {
  position: fixed;
  top: 9vmax;
  z-index: 2;
}

.inverted-colours {
  background-color: #f9d342;
  color: #292826;
}

.inverted-colours:hover {
  background-color: #292826;
  color: #f9d342;
}

.small-text {
  font-size: 1.3vmax;
}
