<div class="ui segmentbase-colours">
  <button
    class="ui button inverted-colours small-text"
    (click)="selectPage('none')"
    [routerLink]="['/no-filter']"
  >
    All
  </button>
  <button
    class="ui button inverted-colours small-text"
    (click)="selectPage('weak')"
    [routerLink]="['/weak']"
  >
    0%-5%
  </button>
  <button
    class="ui button inverted-colours small-text"
    (click)="selectPage('medium')"
    [routerLink]="['/medium']"
  >
    5%-10%
  </button>
  <button
    class="ui button inverted-colours small-text"
    (click)="selectPage('strong')"
    [routerLink]="['/strong']"
  >
    >10%
  </button>
  <button
    class="ui button inverted-colours small-text"
    (click)="selectPage('random')"
    [routerLink]="['/random']"
  >
    ?
  </button>
</div>
