<div class="ui segment base-colours">
  <app-top-bar></app-top-bar>
  <h1>Favourites</h1>

  <div *ngIf="items.size === 0">
    <h3>
      Your don't have any favourites yet.
    </h3>
  </div>

  <div class="ui cards">
    <div class="ui card" *ngFor="let item of items">
      <div class="content">
        <img class="left floated mini ui image" src="{{ item.image_url }}" />
        <a class="header">
          <div class="turn-yellow">{{ item.name }}</div>
        </a>
        <div class="meta">
          {{ item.description }}
        </div>
      </div>
      <div class="extra content">
        <div
          class="ui right floated button turn-yellow"
          style="background-color: transparent"
        >
          Remove from favourites
        </div>
      </div>
    </div>
  </div>

  <br />

  <button *ngIf="items.length > 0" (click)="clearFavourites()">
    Clear Cart
  </button>
</div>
