<div class="ui segment base-colours">
  <app-top-bar></app-top-bar>

  <h1>Favourites</h1>

  <div *ngIf="items.size === 0">
    <h3>
      Your don't have any favourites.
    </h3>
  </div>

  <button
    class="ui left floated button inverted-colours"
    *ngIf="items.size > 0"
    (click)="clearFavourites()"
  >
    Remove all
  </button>

  <div class="ui cards">
    <div class="ui card" *ngFor="let item of items">
      <div class="content">
        <img class="left floated mini ui image" src="{{ item.image_url }}" />
        <a class="header">
          <div class="turn-yellow">{{ item.name }}</div>
        </a>
        <div class="meta">
          {{ item.description }}
        </div>
      </div>
      <div class="extra content">
        <button
          class="ui right floated button turn-yellow"
          style="background-color: transparent"
          (click)="removeBeer(item)"
        >
          Remove from favourites
        </button>
      </div>
    </div>
  </div>
</div>
