.base-colours {
  background-color: #292826;
  color: #f9d342;
}

button {
  width: 10rem;
}

.cards {
  margin: 0;
  margin-top: 5vh;
  height: 90vh;
}

.inverted-colours {
  background-color: #f9d342;
  color: #292826;
}

.inverted-colours:hover {
  background-color: #292826;
  color: #f9d342;
}

.inverted-colours:focus {
  background-color: #292826;
  color: #f9d342;
}

.padded {
  margin-bottom: 10px;
}

.top-button {
  background-color: #292826;
  width: 100%;
  position: fixed;
  top: 1vh;
  z-index: 2;
}

.turn-yellow {
  color: #292826;
}

.turn-yellow:hover {
  color: #f9d342;
}

.under-header {
  display: grid;
  position: relative;
  left: 17vw;
  width: 80vw !important;
}

.viewport {
  overflow-y: scroll;
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .under-header {
    left: 20vw;
  }
}

@media only screen and (max-width: 450px) {
  .under-header {
    left: 30vw;
    width: 70vw !important;
  }
}
