<div class="top-header">
  <div *ngIf="!items.length">
    <h3>
      You don't have any favourites.
    </h3>
  </div>

  <button
    class="ui left floated button inverted-colours reset-button"
    *ngIf="items.length"
    (click)="clearFavourites()"
  >
    Reset favourites
  </button>
</div>

<div class="ui base-colours viewport">
  <div class="ui cards">
    <div class="ui card" *ngFor="let item of items">
      <div class="content">
        <img class="left floated mini ui image" src="{{ item.image_url }}" />
        <a class="header">
          <a
            class="turn-yellow"
            [title]="item.name + ' details'"
            [routerLink]="['/beers', item.id]"
          >
            {{ item.name }}</a
          >
        </a>
        <div class="meta">
          {{ item.description }}
        </div>
      </div>
      <div class="extra content">
        <button
          class="ui left floated button yellow-text bottom-button"
          style="background-color: transparent"
          (click)="removeBeer(item)"
        >
          <i class="star large icon"></i>
        </button>

        <button
          class="ui right floated icon button turn-yellow"
          (click)="updateCart(item)"
        >
          <div *ngIf="!isInCart(item)">
            <i class="shopping cart large icon turn-yellow"></i>
          </div>

          <div *ngIf="isInCart(item)">
            <i class="shopping cart large icon yellow-text"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
