.base-colours {
  background-color: #292826;
  color: #f9d342;
}

.fixed-header {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 13vmax;
  width: 100vw;
  background-color: #292826;
}

.inverted-colours {
  background-color: #f9d342;
  color: #292826;
}

.inverted-colours:hover {
  background-color: #292826;
  color: #f9d342;
}

.inverted-colours:focus {
  background-color: #292826;
  color: #f9d342;
}

.turn-yellow {
  color: #292826;
}

.turn-yellow:hover {
  color: #f9d342;
}

.under-header {
  top: 14vmax;
}
