.base-colours {
  background-color: #292826;
  color: #f9d342;
}

.beers-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 3vh 2vw;
}

.beers-list img {
  display: block;
  margin: auto;
  height: 30vh;
}

.bottom-text {
  position: absolute;
  bottom: 8vh;
}

.card-box {
  height: 58vh;
}

.favourite-button {
  background-color: transparent;
}

.favourite-button:hover {
  background-color: transparent;
}

.favourite-button:focus {
  background-color: transparent;
}

.loader-container {
  height: 60vh;
  width: 100vw;
}

.title {
  font-size: 3vh;
}

.turn-yellow {
  color: #292826;
}

.turn-yellow:hover {
  color: #f9d342;
}

.under-header {
  top: 12vmax;
}

.viewport {
  height: 60.5vh;
}
