<h3>Items</h3>

<div *ngFor="let beer of beers">
  <p>
    {{ beer.name }}
  </p>
</div>

<!--
<div class="ui container">
  <div *ngFor="let beer of beers; index as productId" class="ui card">
    <div class="ui image">
      <img src="{{ beer.image_url }}" />
    </div>
    <div class="content">
      <a class="header">{{ beer.name }}</a>
      <div class="meta">{{ beer.tagline }}</div>
      <div class="description">{{ beer.description }}</div>
    </div>
  </div>
</div>
-->

<app-beer-list-controls
  (updatePage)="updatePage($event)"
></app-beer-list-controls>
