.base-colours {
  background-color: #292826;
  color: #f9d342;
}

.beers-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr));
  grid-gap: 3.5vh 1vw;
}

.beers-list img {
  display: block;
  margin: auto;
  padding: 0 5px;
  height: 30vh;
}

.bottom-text {
  position: absolute;
  bottom: 9.5vh;
}

.card-box {
  height: 55vh;
  width: 30vh;
}

.favourite-button {
  background-color: transparent;
}

.favourite-button:hover {
  background-color: transparent;
}

.favourite-button:focus {
  background-color: transparent;
}

.title {
  font-size: 3vh;
}

.turn-yellow {
  color: #292826;
}

.turn-yellow:hover {
  color: #f9d342;
}

.under-header {
  position: relative;
  top: 5px;
  left: 6vw;
}

.viewport {
  height: 92vh;
  width: 80vw !important;
  overflow-y: scroll;
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .beers-list {
    grid-template-columns: repeat(auto-fill, minmax(25vh, 1fr));
    grid-gap: 3.5vh 1vw;
  }

  .card-box {
    height: 55vh;
    width: 25vh;
  }

  .under-header {
    left: 6vw;
  }

  .viewport {
    width: 70vw !important;
  }
}

@media only screen and (max-width: 450px) {
  .under-header {
    left: 16vw;
  }

  .viewport {
    width: 45vmax !important;
  }
}
