<app-top-bar (clickEvent)="ngOnInit()"></app-top-bar>

<div
  class="ui container base-colours under-header viewport"
  appScrollable
  (scrollPosition)="scrollHandler($event)"
>
  <div class="beers-list">
    <!-- Loader animation -->
    <div *ngIf="!beers.length" class="loader-container">
      <div class="ui loader-container active dimmer">
        <div class="ui massive loader"></div>
      </div>
    </div>

    <div *ngFor="let beer of beers" class="ui column">
      <div class="ui card card-box">
        <div class="content">
          <div class="ui" style="background: transparent;">
            <img src="{{ beer.image_url }}" />
          </div>

          <div class="bottom-text">
            <div class="header">
              <a
                class="turn-yellow title"
                [title]="beer.name + ' details'"
                [routerLink]="['/beers', beer.id]"
              >
                {{ beer.name }}
              </a>
            </div>
            <div class="meta">{{ beer.tagline }}</div>
          </div>
        </div>

        <div class="extra content">
          <button
            class="ui right floated button favourite-button turn-yellow"
            (click)="addToFavourites(beer)"
          >
            Add to favourites
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
