.base-colours {
  background-color: #292826;
  color: #f9d342;
}

.beers-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 3.5vh 2vw;
}

.beers-list img {
  display: block;
  margin: auto;
  padding: 0 5px;
  height: 30vh;
}

.bottom-text {
  position: absolute;
  bottom: 9.5vh;
}

.card-box {
  height: 58vh;
}

.favourite-button {
  background-color: transparent;
}

.favourite-button:hover {
  background-color: transparent;
}

.favourite-button:focus {
  background-color: transparent;
}

.loader-container {
  height: 60vh;
  width: 100vw;
}

.title {
  font-size: 3vh;
}

.turn-yellow {
  color: #292826;
}

.turn-yellow:hover {
  color: #f9d342;
}

.under-header {
  left: 16vmax;
}

.viewport {
  height: 90vh;
  width: 80vw;
  overflow-y: scroll;
}
