.alert-text {
  color: red;
}

.black-text {
  color: #292826;
  font-size: 1.5vh;
  padding: 0.5vh;
}

.bottom-left {
  position: absolute;
  top: 62vh;
}

.checkout-button {
  padding: 1vh;
  height: 100%;
  width: 100%;
  position: relative;
  right: 1vh;
  top: 1vh;
  font-size: 4.5vh;
  color: #292826;
  background-color: transparent !important;
}

.checkout-button:hover {
  color: #f9d342;
}

.divider {
  left: 70.4% !important;
}

.form-container {
  width: 95%;
  padding-left: 5%;
}

.full-container {
  height: 70vh;
}

.grid {
  height: 70vh !important;
}

.inverted-colours {
  background-color: #f9d342 !important;
  color: #292826;
}

.inverted-colours:hover {
  background-color: #292826 !important;
  color: #f9d342;
}

.narrow-column {
  width: 28% !important;
  height: 67vh;
  padding: 0 !important;
}

.sub-header {
  font-size: 2vh;
  padding: 1vh 0;
}

.wide-column {
  width: 70% !important;
  overflow-x: hidden;
  padding-left: 0 !important;
}

.yellow-text {
  color: #f9d342;
  font-size: 3vh !important;
}
