.alert-text {
  color: red;
}

.black-text {
  color: #292826;
  font-size: 1.5vh;
  padding: 0.5vh;
}

.bottom-left {
  position: absolute;
  top: 62vh;
}

.bottom-right {
  position: absolute;
  top: 62vh;
  left: 70vw;
}

.divider {
  left: 50% !important;
}

.inverted-colours {
  background-color: #f9d342 !important;
  color: #292826;
}

.inverted-colours:hover {
  background-color: #292826 !important;
  color: #f9d342;
}

.mid-text {
  color: #f9d342;
}

.sub-header {
  font-size: 2vh;
  padding: 1vh 0;
}

.yellow-text {
  color: #f9d342;
  font-size: 3vh !important;
}
