.base-colours {
  background-color: #292826;
  color: #f9d342;
}

.base-colours:hover {
  background-color: #292826;
  color: #f9d342;
}

.base-colours:focus {
  background-color: #292826;
  color: #f9d342;
}

.favourites {
  font-size: 2vh;
}

.fixed-header {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.inverted-colours {
  background-color: #f9d342;
  color: #292826;
}

.inverted-colours:hover {
  background-color: #292826;
  color: #f9d342;
}

.inverted-colours:focus {
  background-color: #f9d342;
  color: #292826;
}

.menu {
  width: 500px;
}

.small-text {
  font-size: 1.5vh;
}

.title {
  font-size: 3vh;
}
