<h1 class="ui justified header">
  <div class="ui padded container" style="background-color: #292826;">
    <a [routerLink]="['/']">
      <div
        class="ui vertical animated button"
        style="background-color: #292826; color: #F9D342;"
      >
        <h1 class="visible content">
          <i class="beer icon"></i>
        </h1>
        <h1 class="hidden content">
          Beers
        </h1>
      </div>
    </a>

    <a
      [routerLink]="['/favourites']"
      class="ui vertical animated button"
      style="background-color: #292826; color: #F9D342;"
    >
      <h1 class="visible content">
        <i class="star icon"></i>
      </h1>
      <h3 class="hidden content">
        Favourites
      </h3>
    </a>
  </div>
</h1>
