<div class="ui vertical pointing menu fixed-header background-gradient">
  <a [routerLink]="['/']" class="ui item title base-colours">
    Beers
  </a>

  <a [routerLink]="['/favourites']" class="ui item favourites base-colours">
    Favourites
  </a>

  <div class="sub-header">
    <a
      class="ui item base-colours"
      (click)="selectPage('no-filter')"
      [routerLink]="['/no-filter']"
    >
      All
    </a>
    <a
      class="ui item base-colours"
      (click)="selectPage('weak')"
      [routerLink]="['/weak']"
    >
      0%-5%
    </a>
    <a
      class="ui item base-colours"
      (click)="selectPage('medium')"
      [routerLink]="['/medium']"
    >
      5%-10%
    </a>
    <a
      class="ui item base-colours"
      (click)="selectPage('strong')"
      [routerLink]="['/strong']"
    >
      >10%
    </a>
    <a
      class="ui item base-colours"
      (click)="selectPage('random')"
      [routerLink]="['/random']"
    >
      ?
    </a>
  </div>
</div>
