<div class="ui segment" style="background-color: #292826;">
  <app-top-bar></app-top-bar>
</div>

<div class="ui segment base-colours">
  <div class="ui container segment full-container">
    <div class="ui container">
      <h1 class="title yellow-text">
        Explore <br />
        Brewdog's <br />
        expansive <br />
        beer <br />
        catalogue
      </h1>
    </div>
  </div>

  <div class="ui container segment small-container base-colours">
    <div class="ui container">
      <h3 class="subtitle base-colours right-floated">
        Select a filter to start
      </h3>
    </div>
  </div>
</div>
