.base-colours {
  background-color: #292826;
  color: #f9d342;
}

.full-container {
  height: 50vh;
  width: 50vw !important;
}

.right-floated {
  float: right;
}

.small-container {
  height: 10vh;
  width: 50vw !important;
}

.subtitle {
  font-size: 3vh;
}

.title {
  font-size: 7vh;
}

.under-header {
  position: relative;
  left: 20vw;
  top: 10vh;
  width: 70vw;
}

.yellow-text {
  color: #f9d342;
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .subtitle {
    font-size: 2vh;
  }

  .under-header {
    left: 20vw;
  }
}

@media only screen and (max-width: 450px) {
  .full-container {
    width: 60vw !important;
  }

  .small-container {
    width: 60vw !important;
  }

  .subtitle {
    font-size: 2vh;
  }

  .title {
    font-size: 4.5vh;
  }

  .under-header {
    left: 26vw;
  }
}
