a:link, a:visited, a:hover, a:active{
  color: #F9D342;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4vh;
  font-size: 1.5vh;
  text-align: center;
  z-index: 2;
}
