a:hover {
  background-color: #f9d342 !important;
  color: #292826 !important;
}

.background-gradient {
  background: linear-gradient(
    180deg,
    #0d0c0c 0%,
    #0d0c0c 10%,
    #292826 90%
  ) !important;
}

.base-colours {
  color: #f9d342 !important;
  background-color: transparent;
}

.button {
  text-align: start;
}

.favourites {
  font-size: 2vh;
}

.fixed-header {
  height: 100vh;
  width: 14vmax !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1px;
  border: 0;
}

.input {
  height: 5vh;
}

.inverted-colours {
  background-color: #f9d342;
  color: #292826;
}

.inverted-colours:hover {
  background-color: #292826;
  color: #f9d342;
}

.inverted-colours:focus {
  background-color: #f9d342;
  color: #292826;
}

.menu {
  margin: 0;
  border: 0;
}

.right-button {
  position: fixed;
  left: 15vmax;
}

.search-bar {
  width: 45vmin;
  position: fixed;
  left: 15vmax;
}

.small-text {
  font-size: 1.8vh !important;
}

.title {
  font-size: 3vh;
  padding-left: 0 !important;
}

.top-background {
  background: linear-gradient(270deg, #292826 0%, #292826 10%, #0d0c0c 65%);
}

.top-bar {
  height: 10vh;
  width: 100vw;
  position: fixed;
  left: 0;
  z-index: 2;
}
