<div *ngIf="signedIn && deviceWidth > 450">
  <div class="ui tiny circular padded image">
    <img src="{{ imageUrl }}" />
  </div>
</div>

<div *ngIf="signedIn" (click)="handleAuthClick()" [routerLink]="['/']">
  <button class="ui red google button">
    <i class="google icon"></i>
    <span class="button-text">Sign Out</span>
  </button>
</div>

<div *ngIf="!signedIn" (click)="handleAuthClick()" [routerLink]="['/']">
  <button class="ui red google button">
    <i class="google icon"></i>
    <span class="button-text">Sign In with Google</span>
  </button>
</div>
