.base-colours {
  background-color: #292826;
  color: #f9d342;
}

.black-text {
  color: #292826;
}

.bottom-right {
  position: absolute;
  right: 1vmax;
  bottom: 0.5vmax;
}

.centered-text {
  text-align: center;
}

.yellow-text {
  color: #f9d342;
}

.favourite-button {
  font-size: 2.5vmin;
  background-color: transparent;
}

.favourite-button:hover {
  background-color: transparent;
}

.favourite-button:focus {
  background-color: transparent;
}

.full-container {
  height: 59.5vh;
}

img {
  height: 45vmin;
}

.loader-container {
  height: 61vh;
  width: 100vw;
}

.medium-text {
  font-size: 2.7vmin;
}

.small-text {
  font-size: 2.3vmin;
}

.title {
  font-size: 6vmin;
}

.turn-yellow {
  color: #292826;
}

.turn-yellow:hover {
  color: #f9d342;
}

.under-header {
  top: 13vmax;
}
