.base-colours {
  background-color: #292826;
  color: #f9d342;
}

.black-text {
  color: #292826;
}

.bottom-right {
  position: absolute;
  right: 1vmax;
  bottom: 0.5vmax;
}

button {
  background-color: transparent !important;
}

.centered-text {
  text-align: center;
}

.yellow-text {
  color: #f9d342;
}

.favourite-button:hover {
  background-color: transparent;
}

.favourite-button:focus {
  background-color: transparent;
}

.full-container {
  height: 80vh;
}

img {
  height: 60vmin;
}

.medium-text {
  font-size: 2.5vmin;
}

.small-text {
  font-size: 2.2vmin;
}

.title {
  font-size: 5vmin;
}

.turn-yellow {
  color: #292826;
}

.turn-yellow:hover {
  color: #f9d342;
}

.under-header {
  position: relative;
  top: 12vh;
  left: 15vw;
  height: 85vh;
  width: 85vw;
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .under-header {
    left: 22vw;
    width: 75vw;
  }
}

@media only screen and (max-width: 450px) {

  img {
    height: 50vmin;
  }

  .medium-text {
    font-size: 3vmin;
  }

  .small-text {
    font-size: 2.5vmin;
  }

  .under-header {
    left: 26vw;
    width: 75vw;
  }
}
