<!-- Loader animation -->
<div *ngIf="!items && !idError">
  <div class="ui active dimmer">
    <div class="ui massive loader"></div>
  </div>
</div>

<div class="ui segment base-colours under-header">
  <!-- Error message -->
  <div *ngIf="idError">
    <h3>
      Invalid route.
    </h3>
  </div>

  <!-- There is only one bere, but it only works like this. -->
  <div
    *ngFor="let beer of items; index as beerId"
    class="ui container segment full-container"
  >
    <h2 class="ui header">
      <div class="ui container title yellow-text">
        <p>{{ beer.name }}</p>
      </div>
    </h2>

    <img class="ui left floated image" src="{{ beer.image_url }}" />

    <div class="right-side">
      <div class="description black-text medium-text">
        <p>{{ beer.description }}</p>
      </div>

      <br />

      <div clss="first-brewed">
        <div class="meta black-text small-text">
          <p><i>First brewed:</i> {{ beer.first_brewed }}</p>
        </div>
      </div>

      <br />

      <div class="food-pairing">
        <div class="description black-text small-text">
          <p><i>Food pairing:</i> {{ beer.food_pairing }}</p>
        </div>
      </div>

      <br />

      <div class="brewers-tips">
        <div class="description black-text small-text">
          <p><i>Brewer's tips:</i> {{ beer.brewers_tips }}</p>
        </div>
      </div>
    </div>

    <div class="bottom-right">
      <div class="extra content">
        <button
          class="ui right floated button favourite-button turn-yellow"
          (click)="addToFavourites(beer)"
        >
          Add to favourites
        </button>
      </div>
    </div>
  </div>
</div>
