<h1 class="ui justified header">
  <div
    class="ui padded grid"
    style="background-color: #292826"
  >

    <div class="two column row">

      <div class="ui thirteen wide column">
        <a [routerLink]="['/']">
          <h1 style="color: #F9D342;">Beers</h1>
        </a>
      </div>

      <div class="ui three wide column">
        <a [routerLink]="['/cart']"
          class="ui vertical animated button"
          style="background-color: #292826; color: #F9D342;"
        >
          <div class="visible content">
            <i class="shopping cart icon"></i>
          </div>
          <div class="hidden content">
            Checkout
          </div>
        </a>
      </div>

    </div>

  </div>
</h1>
